---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




///
///
///

:root {
  --background: #000;
  --text: #FFF;
  --highlight: #FF1EAD;
}

@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s background ease;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.theme-switch {
  --background: #FFF;
  --text: #000;
  color: var(--text);
  width: 70px;
  height: 30px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;

  .switch {
    background: white;
    width: 24px;
    height: 24px;
    background: var(--background);
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
  }
}

.light-theme {
  --background: #FFF;
  --text: #000;
  background: var(--background);

  .theme-switch {
    background: var(--text);

    .switch {
      transform: translateX(37px);
    }
  }
  a {
    color: var(--text); 
  }
}

.navigation {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  list-style-type: none;
  a {
    margin: 10px 30px;
    position: relative;
    color: var(--text);
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;

    &:before {
      position: absolute;
      bottom: -2px;
      content: '';
      width: 100%;
      height: 3px;
      background: var(--highlight);
      transform: translateX(-100%);
      opacity: 0;
    }

    &:hover {
      &:before {
        opacity: 1;
        transition: 0.5s transform ease, 0.8s opacity ease;
        transform: translateX(0);
      }
    }
  }

  .active {
    color: var(--highlight);

    &:hover {
      &:before {
        opacity: 0;
      }
    }
  }
}





///
///
///



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #0077CC;
// $gameday-sky: #109dc0;


// $clemson-purple:      #522d80;
// $clemson-orange:      #f66733;

// site sub color -------------------------------
$clemson-purple:      #f66733;               // |
// ----------------------------------------------

// site main color -------------------------------
$clemson-orange:      #522D80;                // |
//------------------------------------------------


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	"mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	"fancy-image"
;




///
///
///


