---
layout: default
title: Home
---


  <div class="posts">
  {% for post in paginator.posts %}
  <div class="post"> 
    <h3 class="post-title">{{ post.title }}</h3>
    {{ post.content }}
  </div>
  {% endfor %}
</div>




{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;<span>&laquo; Prev</span>&nbsp;&nbsp;&nbsp;&nbsp;
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
       &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
    {% else %}
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>&nbsp;&nbsp;&nbsp;&nbsp; 
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>&nbsp;&nbsp;&nbsp;&nbsp; 
  {% else %}
    &nbsp;&nbsp;&nbsp;&nbsp;<span>Next &raquo;</span>&nbsp;&nbsp;&nbsp;&nbsp;
  {% endif %}
</div>
{% endif %}

