<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

		 
    <div class="page-content">
      <div class="wrapper">
   
   
   <style id="inverter" media="none">
     html { background-color: #eee; filter: invert(100%) }
     * { background-color: inherit }
     img:not([src*=".svg"]), [style*="url("] { filter: invert(100%) }
   </style>
   <div class="wrap">
     <label class="button">
       <input type="checkbox" id="themer">
       Dark theme: <span aria-hidden="true"></span>
     </label>
   
   
   
		
		{{ content }}
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
<!-- d.s.m.s.050600.062508.030515.080516.030818 | "Baby, I'm Yours" -->